{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "curly": "off",
    "brace-style":"off",
    "@typescript-eslint/brace-style": "off",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off"
  }
}
